body{
	padding: 0;
	margin: 0;
	font-family: 'Jost', sans-serif;
}

nav #top-nav {
    display: flex;
    margin-left: 10px;
}

#logo {
    width: 150px;
    height: 150px;
    padding-right: 100px;
}

div .nav-right {
    margin-top: 30px;
}

div ul li a {
    text-decoration: none;
    color: rgb(252,48,75);
    font-weight: 900;
    font-size: x-large;
    padding-right: 60px;
    padding-top: 20px;
}

div ul li a:hover{
    color:#000;
}

div ul li {
    display: inline;
}

.hire-btn {
    padding: 5px 20px 5px 20px;
    color: rgb(200, 42, 69);
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
	border-color: rgb(252,48,75);
	background-color: #ffff;
}

input:hover{
    color:#fff;
    background-color:#2B2B2B
}

header img{
    border-radius: 50%;
    max-width: 100%;
	width: 500px;
	height: auto;
    margin-left: 40px;
    margin-top: 20px;
}

#header-container{
    display: flex;
    
}

#header-content{
    margin-top: 80px;
    margin-left: 100px;
}

#btn-2{
    margin-top: 30px;
}

#hr{
    background-color: rgb(252,48,75);
    padding: 1px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
}

h1{
    text-align: center;
}

#git{
    padding-top: 20px;
    margin-right: 10px;
    margin-left:10px ;
    font-size:55px
}

#about{
    display: flex;
    justify-content: center;
}

#h3{
    margin: 0px 80px 0px 80px;
    text-align: center;
    background-color:#DAD3D3 ;
    padding: 20px;
    margin-bottom: 30px;
}

.slideshow-cont {
    position: relative;
    align-items: center;
}

.slideshow a img{
width: 100%;
height: max-content;
}

.back,
.forward {
    cursor: pointer;
    position: absolute;
    top:50%;
    width: auto;
    margin-top: 22px;
    padding: 16px;
    transition: 0.6s ease;
    user-select: none;
 background-color: #DAD3D3;
}

.forward {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#arrow {
    color: orangered;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.my-services{
    text-align: center;
}

#contact{
    display: flex;
    justify-content: center;
}

.social{
    margin: 20px;
    width: 50px;
    cursor: pointer;
}

footer{
    background-color:  #DAD3D3;
    text-align: center;
    padding: 30px;
}

span{
    color:  rgb(252,48,75);
}

#btn-2{
    background-color: rgb(252,48,75);
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    color: #fff;
    border-radius: 30px;
    border: rgb(252,48,75);
    cursor: pointer;
    text-decoration: none;
}

.btn-2{
    margin-top: 40px;
}


@media screen and (max-width: 650px) {

div .nav-right {
    margin-top: 30px;
}

div ul li a {
    text-decoration: none;
    color: rgb(252,48,75);
    font-weight: 900;
    font-size: 15px;
    padding-right: 80px;
    padding-top: 20px;
}


#btn-2{
    background-color: rgb(252,48,75);
    font-size: 10px;
    padding: 7px 7px 7px 7px;
    color: #fff;
    border-radius: 30px;
    border: rgb(252,48,75);
    cursor: pointer;
    text-decoration: none;
}

.hire-btn {
    padding: 5px 10px 5px 10px;
    color: rgb(200, 42, 69);
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
	border-color: rgb(252,48,75);
	background-color: #ffff;
    margin-top: 20px;
}

.social{
    margin: 20px;
    width: 30px;
    cursor: pointer;
}

#git{
    width: 30px;
    font-size:35px
}

}

@media screen and (min-width: 1000px) {

    div .nav-right {
        margin-top: 30px;
    }
    
    div ul li a {
        text-decoration: none;
        color: rgb(252,48,75);
        font-weight: 900;
        font-size: 20px;
        padding-right: 60px;
        padding-top: 20px;
    }
    
    
    #btn-2{
        background-color: rgb(252,48,75);
        font-size: 20px;
        padding: 7px 20px 7px 20px;
        color: #fff;
        border-radius: 30px;
        border: rgb(252,48,75);
        cursor: pointer;
        text-decoration: none;
    }
    
    .hire-btn {
        padding: 5px 15px 5px 15px;
        color: rgb(200, 42, 69);
        border-radius: 20px;
        font-size: 20px;
        cursor: pointer;
        border-color: rgb(252,48,75);
        background-color: #ffff;
        margin-top: 20px;
    }
    
    .social{
        margin: 20px;
        width: 40px;
        cursor: pointer;
    }
    
    #git{
        width: 30px;
        font-size:45px;
        margin-bottom: 5px;
    }
    }
    #time{ 
        background-color:#fff;
        width: auto;
        margin-left:250px ;
        margin-right: 250px;
        border-radius: 20px;
    }

    
    