body{
	padding: 0;
	margin: 0;
	font-family: 'Jost', sans-serif;
	scroll-behavior: smooth;
}

nav #top-nav {
    display: flex;
}

#logo {
    width: 150px;
    height: 150px;
    padding-right: 100px;
}

div .nav-right {
    margin-top: 30px;
}

div ul li a {
    text-decoration: none;
    color: rgb(252,48,75);
    font-weight: 900;
    font-size: x-large;
    padding-right: 90px;
    padding-top: 20px;
}

div ul li a:hover{
    color:#000;
}

div ul li {
    display: inline;
}

.subscription-btn {
    padding: 5px 20px 5px 20px;
    color: rgb(200, 42, 69);
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
	border-color: rgb(252,48,75);
	background-color: #ffff;
}

input:hover{
    color:#fff;
    background-color:#2B2B2B
}

header img{
    border-radius: 50%;
    max-width: 100%;
	width: 500px;
	height: auto;
    margin-left: 40px;
    margin-top: 20px;
}

#header-container{
    display: flex;
    
}

#header-content{
    margin-top: 80px;
    margin-left: 100px;
}

#btn-2{
    margin-top: 30px;
}